<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-7"><h1>Welcome to Developer</h1></div>
    <div class="col-lg-offset-8"><h1><%=link_to "logout", destroy_user_session_path, method: :delete   %><br></h1></div>
  </div>
</div>
<br>
<br>

<table class="table table-bordered table-hover table-dark">
  <%@user.each do |developer| %>
  <tr>
    <td><h3><%= developer.email%></h3></td>
    <td><h3><%= link_to 'Projects' , developer_proj_path(developer.id) %></td></td>
  </tr>
<br>
<%end%>
</table>
